:80 {
  redir https://{host}{uri} permanent
}

localhost:443, {$VITE_HOSTNAME}:443 {
  tls internal
  log foo
  #Frontend routes
  handle {
    # Frontend main route
    handle /* {
      reverse_proxy frontend:5173
    }
  }
  handle /api/* {
    reverse_proxy gateway:8080
  }

  handle /adminer/* {
    reverse_proxy adminer:8080
  }

}
